<html>
  <head>
    {% include "header.html" %}
  </head>
  <body>
    {% include "body-header.html" %}


  <section class="hero is-medium is-bold">
    <div class="hero-body hero-image">
      <div class="container has-text-centered">
      </div>
    </div>
  </section>
  <section class="hero">
    <div class="hero-body">
  <h1 class="title page-title"> recently published notebooks </h1>
      <div class="container">
{% for notebook in notebooks %}
        <section class="section">
          <div class="columns">
            <div class="column is-10 is-offset-1">
              <div class="content is-medium">
                {{ notebook }}
              </div>
            </div>
          </div>
        </section>
{% endfor %}
      </div>
    </div>
  </section>
    {% include "body-footer.html" %}
  </body>
</html>
