/*
    Common Media Query Common Breakpoints
    https://ricostacruz.com/til/css-media-query-breakpoints
*/
@media screen and (max-width: 1023px) {
    .navbar-item {
          padding: .5rem 3.50rem;
    }
}
@media screen and (max-width: 1023px) {
    .navbar-item.has-dropdown {
          padding: 0 2.75rem;
    }
}
.navbar-icon {
    padding: 0 2.25rem;
}
@media screen and (min-width: 1023px) {
    .navbar-search {
        padding-top: 1.25rem;
    }
}
.navbar-start {
    margin-right: 0;
}
.navbar-end {
    padding-bottom: 3rem;
}
.page-title {
    padding-left: 3rem;
}
.subtitle-page {
    font-size: 2rem;
    display: inline-block;
}
.intro {
  padding: 5rem 0;
  text-align: center;
}
.card-image .fa {
    font-size: 8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #209cee;
}
.card-image .svg-inline--fa {
    font-size: 8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #209cee;
}
.hero-image {
    background: url('{{static_url}}heian-shrine-kyoto.jpg') center center;
    background-size: cover;
    padding-bottom: 20rem !important;
}
.markdown-spacer {
    margin-top: 1em;
}
.main-content {
    padding: 0 1em;
}
